#TASK 4.6

In [30]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [31]:
#Project folder path as a string
path = r'/Users/Nimrat/Documents/Instacart Basket Analysis'

In [32]:
#Import the “order_product_combined” data set into your notebook using the os library
df_ords_cmbd = pd.read_pickle(os.path.join(path, 'Prepared data', 'orders_products_combined.pkl'))

In [33]:
#Checking shape of the imported dataframe
df_ords_cmbd.shape

(32434489, 12)

In [34]:
#Check the columns of the dataframe
df_ords_cmbd.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [44]:
#Remove eval_set and Unnamed:0 columns
df_ords_cmbd.drop(columns=['Unnamed: 0', 'eval_set'], inplace=True)

In [46]:
#Check output
df_ords_cmbd.shape

(32434489, 10)

In [35]:
#Import products dataframe from prepared file
df_prods = pd.read_csv(os.path.join(path, 'Prepared data', 'products_checked.csv'), index_col = False)

In [36]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [37]:
#Check shape of the products dataframe
df_prods.shape

(49693, 6)

After importing the cleaned products CSV file, I noticed that the row count did not match the cleaned dataset. Because of this, I repeated the consistency checks to confirm the correct number of rows.

In [38]:
#Remove Unnamed:0 coulumn
df_prods.drop(columns=['Unnamed: 0'], inplace=True)

In [39]:
df_prods

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [40]:
#Create new dataframe
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [41]:
#Finding duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [42]:
#Create a dataframe that doesn't include duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [43]:
df_prods_clean_no_dups.shape

(49672, 5)

Suitable way to merge the order_products_combined dataframe with the products dataframe will be using product_id column.

In [52]:
#Test the merge without overwriting
pd.merge(df_ords_cmbd, df_prods, on = 'product_id', indicator = 'match')

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,2977660,206209,13,1,12,7.0,14197,5,1,both,Tomato Paste,9,9,5.6,both
32434208,2977660,206209,13,1,12,7.0,38730,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9,both
32434209,2977660,206209,13,1,12,7.0,31477,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32434210,2977660,206209,13,1,12,7.0,6567,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32434211,2977660,206209,13,1,12,7.0,22920,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7,both

In [54]:
#Drop themerge colum in the orders_products_combined dataframe
df_ords_cmbd = df_ords_cmbd.drop(['_merge'], axis = 1)

In [55]:
#Check the output
df_ords_cmbd.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [56]:
df_ords_cmbd.shape

(32434489, 9)

In [60]:
#Merge updated dataframe
df_ords_prods_merge = df_prods_clean_no_dups.merge(df_ords_cmbd, on = 'product_id', indicator = True)

In [61]:
#Check the output
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [62]:
df_ords_prods_merge.shape

(32404859, 14)

In [63]:
#Confiriming the results of merge using merge flag
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [64]:
#Export ords_prods_merge data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge.pkl'))