#Merging Instacart Data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Project folder path as a string
path = r'/Users/Nimrat/Documents/Instacart Basket Analysis'

In [4]:
#Import the “order_product_prior.csv” data set into your notebook using the os library
df_ords_prior = pd.read_csv(os.path.join(path, 'Original data', 'orders_products_prior.csv'), index_col = False)

In [5]:
#Check the output
df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [6]:
#Import the “order_checked.csv” data set into your notebook using the os library
df_ords = pd.read_csv(os.path.join(path, 'Prepared data', 'orders_checked.csv'), index_col = False)

In [7]:
df_ords

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...,...
3421078,3421078,2266710,206209,prior,10,5,18,29.0
3421079,3421079,1854736,206209,prior,11,4,10,30.0
3421080,3421080,626363,206209,prior,12,1,12,18.0
3421081,3421081,2977660,206209,prior,13,1,12,7.0
3421082,3421082,272231,206209,train,14,6,14,30.0

In [19]:
# Merge df_ords_prior and df_ords using order_id as a key
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [20]:
df_merged_large

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,3421081,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,3421081,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,3421081,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,3421081,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

In [21]:
# Test merge without overwriting
pd.merge(df_ords,df_ords_prior, on = 'order_id', indicator = True)

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,3421081,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,3421081,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,3421081,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,3421081,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

In [22]:
#Look at the value counts on '_merge' column
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [23]:
#Export data as pickle
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))